h4 {
    margin-left: 30px;
}

.featured {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.featured-item {
    display: flex;
    gap: 10px;
}

.featured p {
    font-size: 12px;
    min-width: 130px;
}

.featured img {
    width: 70px;
    height: 100px;
}