.header {
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-left: 10%;
}

.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-right: 10%;
}

.logo img {
    width: 150px;
    height: 70px;
}

.navbar {
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: 510;
}

.navbar a:hover {
    text-decoration: underline;
    background-color: rgb(246, 190, 141);
    border-radius: 30%;
}

.active {
    background-color: rgb(246, 190, 141);
    border-radius: 30%;
}