.container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.header {
    width: 100%;
    height: 100px;
}

.main {
    width: 85%;
}

.about {
    width: 85%;
    height: 300px;
    border: 2px solid rgb(144, 246, 49);
}

.shop {
    width: 85%;
    height: 300px;
    border: 2px solid rgb(144, 246, 49);
}

.blog {
    width: 85%;
    height: 300px;
    border: 2px solid rgb(144, 246, 49);
}

.contact {
    width: 85%;
    height: 300px;
    border: 2px solid rgb(144, 246, 49);
}

.sidebar {
    width: 15%;
    margin-top: 6%;
}

.footer {
    width: 100%;
    height: 100px;
}